*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    width: 80%;
    background-color: rgb(135, 194, 194);
    margin: 0 auto;
}
h1{
    margin: 1.1em 0;
}
h2{
    font-size: 20px;
    margin: 1em 0;
}