*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    /*background-image: linear-gradient(120deg, #C4D1CA, #D9A443, #E79160);*/
    /*background-image: linear-gradient(to right, #C4D1CA, #D9A443);*/
    background-image: radial-gradient(circle, #C4D1CA 20%, #D9A443 80% );
}
main{
    background-color: #fff;
    box-shadow: 5px 5px 15px #76876993;
    width: 600px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
}
h1{
    color: #E79160;
    text-align: center;
    text-shadow: 1px 1px 0px #a66945ae;
}
h2{
    color: #65725a;
}
p{
    text-align: justify;
}