/*font-family: 'Passion One', cursive;
font-family: 'Sriracha', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
:root{
    --fontPadrao: Verdana, Geneva, Tahoma, sans-serif;
    --fontAlternativa: 'Sriracha', cursive;
    --fontTitle: 'Passion One', cursive;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--fontPadrao);
}
body{
    background-color: white;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
a:hover{
    text-decoration: underline;
}
p{
    font-family: var(--fontAlternativa);
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    font-family: var(--fontTitle);
    font-size: 10vw;
    font-variant: small-caps; /*Altera a primeira letra de cada palavra deixando as demais em minuscula*/
    font-weight: normal;
    padding-top: 50px;
}
header > p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding-bottom: 50px;
}
main{
    background-color: white;
    font-family: var(--fontAlternativa);
}
article{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}
article > p{
    
}
.conteudo{
    width: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.23);
    text-shadow: 1px 1px 0px black;
}
.conteudo > p{
    width: 400px;
}
#fundo1{
    
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#fundo2{
    color: white;
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
footer > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding: 10px;
}