body{
    font-family: Arial, Helvetica, sans-serif;
    /*Absolutas
    cm, mn, in, px, pt, pc

    Relativas
    em, ex, rem, vw, vh, %
    16px geralmente = 1em

    Sempre usar px ou em
    */
    font-size: 16px;
    
}
/*Shorthan - font:
    font-style -> font-weight -> font-size -> font-family
*/
h1,h2{
    font: italic lighter 3em 'Work Sans', sans-serif;
}
